In [2]:
# how to read a comma seperate file into panadas
import pandas as pd

# pandas series are 1 dimenssions arrays with some extara functins build in
# indexes in pandas are typically integers, but could be other items

x = pd.Series(['a', 'b', 'c'])
# access elements similar to a list or array
print(x[1])

# demonstrates remapping the index 
x.index = ['x', 'y', 'z']
print(x['y'])

# iloc method for series still uses a integer index

x.iloc[1]
# demonstrates mode method
x.mode()

b
b

0    a
1    b
2    c
dtype: object

In [8]:
# pandas data frama is essentially a python version of a spreadsheet with all sorts of build in methods
# consider
# typically a data frame is initialized from a dictionary or csv file
d = {'loc': ['relevator', 'relevator', 'kudu', 'work', 'home'],
     'cost': [4.25, 3.25, 3.43, 2.00, 0.25],
     'cups': [2, 1, 1, 2, 1],
     'time': ['afternoon', 'afternoon', 'morning', 'morning', 'morning']}
data = pd.DataFrame(d)

# get data types
data.dtypes

# sort data by cost, and then time
data.sort_values(['cost', 'loc'])

# aggregate 
data['cost'].sum()

# select only certain rows using loc method
data.loc[data['loc'] == 'relevator']

# select rows and columns using iloc method
data.iloc[1:, 2]

# Group by 
data.groupby(by='loc').sum()

# melting (the opposite of group by
x = data.melt(value_vars=['cups', 'cost'], id_vars='loc')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>loc</th>
      <th>time</th>
      <th>variable</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>relevator</td>
      <td>afternoon</td>
      <td>cost</td>
      <td>4.25</td>
    </tr>
    <tr>
      <th>1</th>
      <td>relevator</td>
      <td>afternoon</td>
      <td>cost</td>
      <td>3.25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>kudu</td>
      <td>morning</td>
      <td>cost</td>
      <td>3.43</td>
    </tr>
    <tr>
      <th>3</th>
      <td>work</td>
      <td>morning</td>
      <td>cost</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>home</td>
      <td>morning</td>
      <td>cost</td>
      <td>0.25</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
# Joining Data 

s = {'loc': ['relevator', 'kudu', 'work', 'daycare'],
         'area': ['charleston pen', 'charleston pen', 'west ashly','west ashly']}
places = pd.DataFrame(s)

# consider
# typically a data frame is initialized from a dictionary or csv file
d = {'loc': ['relevator', 'relevator', 'kudu', 'work', 'home'],
     'cost': [4.25, 3.25, 3.43, 2.00, 0.25],
     'cups': [2, 1, 1, 2, 1],
     'time': ['afternoon', 'afternoon', 'morning', 'morning', 'morning']}
data = pd.DataFrame(d)
## Inner Join (only commen elements based on a key
# default

print(data.merge(places))

# left 
print(data.merge(places, how='left'))

print(data.merge(places, how='right'))

# outer all elements of all groups, fills with Nan by default.
print(data.merge(places, how='outer'))

         loc  cost  cups       time            area
0  relevator  4.25     2  afternoon  charleston pen
1  relevator  3.25     1  afternoon  charleston pen
2       kudu  3.43     1    morning  charleston pen
3       work  2.00     2    morning      west ashly
4       home  0.25     1    morning    james island

## Week 2
### Day 1 Python 3.6 installation with jupter notebooks

### Day 2 Python Basics Continued

In [2]:
# Get Basic Summary information about the data
print(data.describe())

       First?        Year?    PlayCount          F*G
count  2229.0  2229.000000  2229.000000  2229.000000
mean      1.0     0.741140    16.879767    15.054733
std       0.0     0.438107    25.306415    25.292289
min       1.0     0.000000     0.000000     0.000000
25%       1.0     0.000000     1.000000     0.000000
50%       1.0     1.000000     4.000000     3.000000
75%       1.0     1.000000    21.000000    18.000000
max       1.0     1.000000   142.000000   142.000000

In [3]:
# Selecting Data 
col = 'ARTIST CLEAN'
artist = 'Boston'

# all rows from only a selected only a column
print(data['Year?'].head())

# Using Index iloc  (index locatoion method, in this case select the selection row 0, and column 2
# index method needs to have a integers 
print(data.iloc[0, 2]) 
print(data.iloc[0:2, 2])

# select data using the locate method 
# select a rows by column values (in this case only select rows where Boston is the Artist
x = data.loc[data[col] == artist]


# Sort the rows by playcounts 

x = x.sort_values('PlayCount', ascending=False)
print(x.head())

0    1
1    0
2    1
3    1
4    1
Name: Year?, dtype: int64
1982
0    1982
1     NaN
Name: Release Year, dtype: object
               Song Clean ARTIST CLEAN Release Year  \
267   More Than a Feeling       Boston         1976
269         Peace of Mind       Boston         1976
264  Foreplay (Long Time)       Boston         1976
262       Don't Look Back       Boston         1978
270      Rock & Roll Band       Boston         1976

                           COMBINED  First?  Year?  PlayCount  F*G
267   More Than a Feeling by Boston       1      1        134  134
269         Peace of Mind by Boston       1      1        132  132
264  Foreplay (Long Time) by Boston       1      1         94   94
262       Don't Look Back by Boston       1      1         86   86
270      Rock & Roll Band by Boston       1      1         59   59

In [11]:
# Aggregating Data using group by
# this demonstrates getting aggregation of playcounts by artists
x = data.groupby(['Song Clean'])['PlayCount'].sum()

# this takes the grouped data, sorts by values and returns the top 5 
print(x.sort_values(ascending=False).head())

Song Clean
Dream On                       142
All Along the Watchtower       141
Sweet Emotion                  141
You Shook Me All Night Long    138
More Than a Feeling            134
Name: PlayCount, dtype: int64

In [13]:
# combining grouping with filtering can be powerfull
# filters to only the beatles
x_filtered = data.loc[data['ARTIST CLEAN'] == 'The Beatles', :]

# aggregates by playcounts
x_grouped = x_filtered .groupby(['Song Clean'])['PlayCount'].sum()

# sorts by play counts 
print(x_grouped.sort_values(ascending=False).head())

# results is the top five play counts for Beatles songs

Song Clean
Come Together        69
Revolution           55
Get Back             52
A Day In The Life    31
Let It Be            31
Name: PlayCount, dtype: int64