#### Chicago Crime Data Cluster Project 
Using Chicago Open Data Portal

download data Car Crahses

https://data.cityofchicago.org/Public-Safety/Crimes-2018/3i3m-jwuy

    export button, save as a csv file.

## Scenario
A task for has been setup in the city of Chicago to crack down on  'NARCOTICS'.

Part of the strategy of the task for is use 'predictive policing' to deploy officers to know narcotics hotspots to increase survallence and police presences in the neighborhoods..



### Deliverables
a pdf or html markdown document, uploaded.
+ Use a cluster model to idenity 3 areas where policy may be deployed.  
+ Create plots that providing supporting evidence that narcotics violations are happening in that area
+ Create plots that support that te cluster bounderies are correctly assigned
+ Provide a written summary of your findings, recomendations potential pitfalls and advantages of using this particular method

### Steps 
Data Loading

+ load data
+ filter to only narcotics violations

Basic Data Understanding

+ Plot Sum narcotics violations by day of the week
+ Plot Sum of narcotics by day (for entire length of data set)

Create Cluster Model

+ scale 'Latitude', 'Longitude',
+ cluster 'Latitude', 'Longitude',

Model Evaluation
+ plot clusters
+ silloute plot clusters
+ barplot cluster centers by count

+ Write a summary

In [82]:
# load in data
import pandas as pd
file_name = 'data/Crimes_-_2018.csv'
data = pd.read_csv(file_name)
data.head(1)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11583222,JC136409,12/26/2018 12:01:00 AM,044XX S RACINE AVE,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,OTHER,False,False,...,11.0,61.0,11,NaN,NaN,2018,02/02/2019 04:07:45 PM,NaN,NaN,NaN